/*******************************************************
 * 
 * ----------------------
 * Engine Renderer Styles
 * ----------------------
 *
 * These styles do not include any product-specific branding
 * and/or layout / design. They represent minimal structural
 * CSS which is necessary for a default rendering of an
 * MCQSC activity
 *
 * The styles are linked/depending on the presence of
 * certain elements (classes / ids / tags) in the DOM (as would
 * be injected via a valid MCQSC layout HTML and/or dynamically
 * created by the MCQSC engine JS)
 *
 *
 *******************************************************/


 .cosmattcomprewidget-engine{
    height: 100%;
 }
 .btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
 }

 .btn-primary {
   color: #fff;
   background-color: #337ab7;
   border-color: #2e6da4;
}

.bottomBar-cosmatengine{
   padding: 10px 15px;
   position: fixed;
    width: 100%;
    bottom: 0;
    background: #FFFFFF;
    z-index: 10;
    height: 54px;
    display: flex;
}

.minScreen , .fullscreen{
   float: right;    
   margin-right: 10px;
}

.pluginArea{
   padding-bottom: 54px; 
}

.link-btn {
   font-family: "Open Sans";
    display: inline-block;
    border-radius: 0;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    color: #01579b;
}

.fill-space{
   flex: 1 1 auto;
}
